'exception-reporting':
  'userId': '732b551e-8453-551d-1e0c-09ffd8904786'
'release-notes':
  'viewedVersion': '0.94.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '89f80c803b5f4ba9e1f073889ce91df45916059d'
'editor':
  'fontSize': 13
  'fontFamily': 'Ricty Discord'
  'showInvisibles': true
  'showIndentGuide': true
'core': {}
'syntax-settings':
  'source':
    'perl':
      'editorSettings':
        'tabLength': 4
        'softTabs': 4
