"*":
  "exception-reporting":
    userId: "732b551e-8453-551d-1e0c-09ffd8904786"
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "89f80c803b5f4ba9e1f073889ce91df45916059d"
  core:
    disabledPackages: [
      "atom-color-highlight"
    ]
  whitespace:
    removeTrailingWhitespace: false
  editor:
    fontFamily: "Ricty Discord"
    showInvisibles: true
    showIndentGuide: true
    invisibles:
      {}
    fontSize: 14
  "linter-perl":
    executeCommandViaShell: true
    lintOptions: "no-bare-subs,no-context"
  tag:
    "closeTagOn </": false
  "autocomplete-plus":
    enableAutoActivation: false
  linter:
    subtleLinterErrors: [
      "php"
      "jshint"
    ]
  "atom-beautify":
    _analyticsUserId: "16a5fac9-e842-4364-884e-7b6e46c18e36"
  "highlight-column":
    opacity: 0.15
    enableHighlight: false
  "tree-view":
    {}
".html.php.text":
  editor:
    tabLength: 4
".php.source":
  editor:
    tabLength: 4
".perl.source":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
