'packages': [
  'autocomplete-paths'
  'autocomplete-plus'
  'autocomplete-snippets'
  'block-travel'
  'git-plus'
  'linter'
  'linter-coffeelint'
  'linter-perl'
  'package-sync'
  'pomodoro'
  'syntax-settings'
  'tag'
  'script'
]
